.card {
    @include card;

    &-banner {
        overflow: hidden;

        & picture,
        & img,
        & source,
        & svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &>.card-content {
            position: relative;
            z-index: 2;
            display: block;
            width: 100%;
            padding: 16px;
        }
    }
}