.header {
    position: sticky;
    top: 16px;
    left: 0;
    z-index: 5;
    width: 100%;

    &-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 32px;
        height: 56px;
        padding: 8px 16px;
        background: rgba(221, 220, 219, 0.35);
        backdrop-filter: blur(16px);
        border-radius: 8px;

        @include breakpoint('md') {
            gap: 16px;
        }

        @include breakpoint('sm') {
            height: 48px;
        }
    }

    &-logo {
        display: flex;
        width: 52px;
        height: 16px;
        flex: 0 0 52px;

        @include breakpoint('sm') {
            width: 46px;
            height: 14px;
            flex: 0 0 46px;
        }

        &>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left center;
        }
    }

    &-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        margin-left: auto;
    }
}