.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    margin-bottom: 16px;

    &-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 32px;
        height: 56px;
        padding: 16px;
        background: rgba(221, 220, 219, 0.35);
        backdrop-filter: blur(16px);
        border-radius: 8px;

        @include breakpoint('md') {
            gap: 16px;
        }

        @include breakpoint('sm') {
            height: 48px;
        }
    }

    &-logo {}

    &-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        margin-left: auto;
    }
}