.container {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;

    @include breakpoint("xl") {
        width: 100%;
        padding: 0 40px;
    }

    @include breakpoint("lg") {
        max-width: 100%;
        width: 100%;
        padding: 0 32px;
        // padding: 0 10px;
    }

    @include breakpoint("md") {
        padding: 0 32px;
    }

    @include breakpoint("sm") {
        padding: 0 16px;
    }
}