@font-face {
    font-family: 'Graphik LC Web';
    src: url('../../assets/fonts/GraphikLCWeb-Regular.eot');
    src: url('../../assets/fonts/GraphikLCWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/GraphikLCWeb-Regular.woff2') format('woff2'),
        url('../../assets/fonts/GraphikLCWeb-Regular.woff') format('woff'),
        url('../../assets/fonts/GraphikLCWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../../assets/fonts/GraphikLCWeb-Medium.eot');
    src: url('../../assets/fonts/GraphikLCWeb-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/GraphikLCWeb-Medium.woff2') format('woff2'),
        url('../../assets/fonts/GraphikLCWeb-Medium.woff') format('woff'),
        url('../../assets/fonts/GraphikLCWeb-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../../assets/fonts/GraphikLCWeb-Regular_1.eot');
    src: url('../../assets/fonts/GraphikLCWeb-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/GraphikLCWeb-Regular_1.woff2') format('woff2'),
        url('../../assets/fonts/GraphikLCWeb-Regular_1.woff') format('woff'),
        url('../../assets/fonts/GraphikLCWeb-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../../assets/fonts/GraphikLCWeb-Regular_2.eot');
    src: url('../../assets/fonts/GraphikLCWeb-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/GraphikLCWeb-Regular_2.woff2') format('woff2'),
        url('../../assets/fonts/GraphikLCWeb-Regular_2.woff') format('woff'),
        url('../../assets/fonts/GraphikLCWeb-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../../assets/fonts/GraphikLCWeb-Medium_1.eot');
    src: url('../../assets/fonts/GraphikLCWeb-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/GraphikLCWeb-Medium_1.woff2') format('woff2'),
        url('../../assets/fonts/GraphikLCWeb-Medium_1.woff') format('woff'),
        url('../../assets/fonts/GraphikLCWeb-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../../assets/fonts/GraphikLCWeb-Medium_2.eot');
    src: url('../../assets/fonts/GraphikLCWeb-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/GraphikLCWeb-Medium_2.woff2') format('woff2'),
        url('../../assets/fonts/GraphikLCWeb-Medium_2.woff') format('woff'),
        url('../../assets/fonts/GraphikLCWeb-Medium_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}