.m {
    @each $margin, $value in $steps {
        &-#{$margin} {
            margin: #{$value} !important;
        }

        &l {
            &-#{$margin} {
                margin-left: #{$value} !important;
            }
        }

        &r {
            &-#{$margin} {
                margin-right: #{$value} !important;
            }
        }

        &t {
            &-#{$margin} {
                margin-top: #{$value} !important;
            }
        }

        &b {
            &-#{$margin} {
                margin-bottom: #{$value} !important;
            }
        }

        &x {
            &-#{$margin} {
                margin-left: #{$value} !important;
                margin-right: #{$value} !important;
            }
        }

        &y {
            &-#{$margin} {
                margin-top: #{$value} !important;
                margin-bottom: #{$value} !important;
            }
        }
    }

    @each $breakpoint, $width in $breakpoints {
        @if $breakpoint !="xs" {
            @include breakpoint($breakpoint) {
                &-#{$breakpoint} {
                    @each $margin, $value in $steps {
                        &-#{$margin} {
                            margin: #{$value} !important;
                        }
                    }
                }
            }

            &l {
                @include breakpoint($breakpoint) {
                    &-#{$breakpoint} {
                        @each $margin, $value in $steps {
                            &-#{$margin} {
                                margin-left: #{$value} !important;
                            }
                        }
                    }
                }
            }

            &r {
                @include breakpoint($breakpoint) {
                    &-#{$breakpoint} {
                        @each $margin, $value in $steps {
                            &-#{$margin} {
                                margin-right: #{$value} !important;
                            }
                        }
                    }
                }
            }

            &t {
                @include breakpoint($breakpoint) {
                    &-#{$breakpoint} {
                        @each $margin, $value in $steps {
                            &-#{$margin} {
                                margin-top: #{$value} !important;
                            }
                        }
                    }
                }
            }

            &b {
                @include breakpoint($breakpoint) {
                    &-#{$breakpoint} {
                        @each $margin, $value in $steps {
                            &-#{$margin} {
                                margin-bottom: #{$value} !important;
                            }
                        }
                    }
                }
            }

            &x {
                @include breakpoint($breakpoint) {
                    &-#{$breakpoint} {
                        @each $margin, $value in $steps {
                            &-#{$margin} {
                                margin-left: #{$value} !important;
                                margin-right: #{$value} !important;
                            }
                        }
                    }
                }
            }

            &y {
                @include breakpoint($breakpoint) {
                    &-#{$breakpoint} {
                        @each $margin, $value in $steps {
                            &-#{$margin} {
                                margin-top: #{$value} !important;
                                margin-bottom: #{$value} !important;
                            }
                        }
                    }
                }
            }
        }
    }
}