// my includes base is here
@import "./utilities/reset";
@import "./utilities/variables";
@import "./utilities/gap";
@import "./utilities/margin";
@import "./utilities/container";

@import "./components/button";
@import "./components/card";
@import "./components/text";

@import "./layouts/header";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
    color: $black;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    min-height: 40vh;
    min-height: 40svh;
    flex: 1;
    margin-top: 32px;

    &>section {
        padding-top: 60px;
        padding-bottom: 60px;

        @include breakpoint('lg') {
            padding-top: 48px;
            padding-bottom: 48px;
        }

        @include breakpoint('md') {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
}

.hero {
    position: relative;
    padding: 0;

    @include breakpoint('sm') {
        margin-top: -80px;
    }

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &-background {
        position: relative;
        display: flex;
        user-select: none;
        border-radius: 8px;
        overflow: hidden;

        @include breakpoint('sm') {
            height: 80svh;
            margin-left: -16px;
            margin-right: -16px;
            border-radius: 0;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        & img {
            position: relative;
            z-index: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }


}

.banners {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    @include breakpoint('lg') {
        gap: 32px;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 16px;
        width: 100%;

        @include break-up('md') {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @include break-up('xl') {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            gap: 32px;
        }

        &>* {
            @include break-up('md') {
                &:nth-child(1) {
                    grid-area: 1 / 1 / 3 / 5;
                }

                &:nth-child(2) {
                    grid-area: 1 / 5 / 2 / 7;
                }

                &:nth-child(3) {
                    grid-area: 2 / 5 / 3 / 7;
                }
            }

            @include break-up('xl') {
                &:nth-child(1) {
                    grid-area: 1 / 1 / 2 / 2;
                }

                &:nth-child(2) {
                    grid-area: 1 / 2 / 2 / 3;
                }

                &:nth-child(3) {
                    grid-area: 1 / 3 / 2 / 4;
                }
            }

            // Чтобы сделать максимум 3 элемента, остальный нафиг
            &:nth-child(5n - 1) {
                display: none;
            }
        }
    }
}