// my includes base is here
@import "./utilities/variables";
@import "./utilities/gap";
@import "./utilities/margin";
@import "./utilities/container";

@import "./components/button";
@import "./components/text";

@import "./layouts/header";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
    color: $black;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    min-height: 40vh;
    min-height: 40svh;
    flex: 1;

    &>section {
        padding-top: 60px;
        padding-bottom: 60px;

        @include breakpoint('lg') {
            padding-top: 48px;
            padding-bottom: 48px;
        }

        @include breakpoint('md') {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
}

.hero {
    position: relative;
    padding: 0;

    @include breakpoint('sm') {
        margin-top: -80px;
    }

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &-background {
        position: relative;
        user-select: none;
        overflow: hidden;

        @include breakpoint('sm') {
            margin-left: -16px;
            margin-right: -16px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        & img {
            position: relative;
            z-index: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }


}